* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg: #27272a;
  --card: #18181b;
  --border: #3f3f46;

  --text: #fafafa;
  --text-secondary: #a1a1aa;

  --primary: #9d72ff;
  --primary-hover: #8b5cf6;
  
  --card-bg: linear-gradient(180deg, #19191d, #141417);
  --btn-bg: #1c1c20;
  --btn-hover: #26262b;
  --btn-border: #34343a;
  --btn-text: #ffffff;
  
  --input-bg: #0f0f11;
  --input-border: #34343a;

  --success: #22c55e;
  --danger: #ef4444;
}

body.light {
  --bg: #F7F7F9;
  --card: #FFFFFF;
  --border: #E5E7EB;

  --text: #111111;
  --text-secondary: #6B7280;

  --card-bg: #FFFFFF;
  --btn-bg: #FFFFFF;
  --btn-hover: #F9FAFB;
  --btn-border: #E5E7EB;
  --btn-text: #374151;
  
  --input-bg: #F3F4F6;
  --input-border: #E5E7EB;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: Inter, Arial, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}